body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
h1 {
  color: #4092d3;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}
small {
  font-size: 10px;
}
a {
  color: #2f72a8;
}
.weather-app-today img {
  width: 200px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1.5px solid #4092d3;
  border-radius: 5px;
}

.weather-app-today {
  padding: 20px;
  border: 1.5px solid #f2f3f5;
  border-radius: 5px;
  background-color: #f8fdfe;
}

#todays-temp {
  color: #4092d3;
  font-size: 55px;
  line-height: 1;
}
#description {
  color: #4092d3;
  font-size: 24px;
  text-transform: capitalize;
}
.weather-app-today .units {
  color: #4092d3;
  position: relative;
  font-size: 16px;
  top: -30px;
}
